@{
    ViewData["Title"] = "Home Page";
}

<!--state overview start-->
<div class="state-overview">
    <div class="row">
        <div class="col-lg-3 col-sm-6 col-md-3">
            <a asp-action="Index" asp-controller="Archive" asp-area="">
                <section class="panel">
                    <div class="symbol terques">
                        <i class="icon-shopping-cart"></i>
                    </div>
                    <div class="value">
                        <h2>آرشیف</h2>
                    </div>
                </section>
            </a>
        </div>
        <div class="col-lg-3 col-sm-6 col-md-3">
            <a asp-action="Index" asp-controller="Incoming" asp-area="">
                <section class="panel">
                    <div class="symbol terques">
                        <i class="icon-shopping-cart"></i>
                    </div>
                    <div class="value">
                        <h2>وارده</h2>
                    </div>
                </section>
            </a>
        </div>
        <div class="col-lg-3 col-sm-6 col-md-3">
            <a asp-action="index" asp-controller="Outgoing" asp-area="">
                <section class="panel">
                    <div class="symbol yellow">
                        <i class="icon-shopping-cart"></i>
                    </div>
                    <div class="value">
                        <h2>صادره</h2>
                    </div>
                </section>
            </a>

        </div>


        <div class="col-lg-3 col-sm-6 col-md-3">
            <a asp-area="" asp-controller="Department" asp-action="Index">
                <section class="panel">
                    <div class="symbol terques">
                        <i class="icon-android"></i>
                    </div>
                    <div class="value">
                        <h2>دیپارتمنت ها</h2>
                    </div>
                </section>
            </a>

        </div>


    </div>
=

    </div>


<!--state overview end-->